

<video id='myVideo' autoplay loop muted>
    <source src="https://static.videezy.com/system/resources/previews/000/038/080/original/abstract_line1.mp4" type="video/mp4">
</video>

<div class="signin">
    <h3>Log In</h3>

<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
</form>

<div id='welcome'>
        <h5>Don't Have an Account? </h5> <a href="/signup">Sign Up Here!</a>
</div>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}

</div>