<h3>Signup</h3>


<form action="/signup" method="POST">

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" name="username" type="text" placeholder="Username">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <input class="uk-input" name="email" type="text" placeholder="Example@email.com">
        </div>
    </div>

    <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
            <input class="uk-input" name="password" type="password" placeholder="Password">
        </div>
    </div>
    <button class="uk-button uk-button-default" type="submit">Submit</button>
</form>

{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}