<nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">

        <a class="uk-navbar-item uk-logo" href="/">BCV</a>

        <ul class="uk-navbar-nav">
            <li>
                <a href="/cryptos">
                    <span class="uk-icon uk-margin-small-right" uk-icon="icon: star"></span>
                    Your daily Crypto Dose
                </a>
            </li>
        </ul>

        <div class="uk-navbar-item">
            <form action="javascript:void(0)">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Crypto/User/...">
                <button class="uk-button uk-button-default">Search</button>
            </form>
        </div>

        <div class="uk-navbar-item"></div>
        </div>
{{!-- ///subnav --}}
<ul class="uk-subnav uk-subnav-pill" uk-margin>
    <li>
            <div><span uk-icon="icon: triangle-down"> Hola {{user.username}}</span></div>
        <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="/">Home</a></li>
                <li class="uk-nav-header">Account</li>
                <li><a href="/profilesettings">Profile Settings</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div>
    </li>
</ul>


    </div>
</nav>