
{{> navbar}}


<ul>
    <li>
        <a href="/cryptos?coin=BTCUSDT"> BTC </a>
    </li>

    <li>
        <a href="/cryptos?coin=ETHUSDT"> ETH </a>
    </li>

    <li>
        <a href="/cryptos?coin=XRPUSDT"> XRP </a>
    </li>

</ul>