
{{> navbar}}


<ul>
    <li>
        <a id="BTC-pair" href="#"> BTC </a>
    </li>

    <li>
        <a id="ETH-pair" href="#"> ETH </a>
    </li>

    <li>
        <a id="ADA-pair" href="#"> ADA </a>
    </li>

</ul>

<h3 id="pair"></h3>
<canvas id="canvasElementID" width="1200" height="600" style="margin: auto;"></canvas>
<div id="new"></div>

<script src="/js/pingpoliCandlestickChart.js"></script>


<script type = "text/javascript">

    const btc = document.getElementById("BTC-pair");
    const ada = document.getElementById("ADA-pair");
    const eth = document.getElementById("ETH-pair");

    function getGraph(pair){
        var _candlestickStream;
        const getData = async () =>{
            try{
                document.getElementById('pair').innerHTML = pair + ' - 1 day graph'
                const resp = await axios.get(`https://api.binance.com/api/v3/klines?symbol=${pair}&interval=1d`)
                let json = resp.data ;
                candlestickChart = new pingpoliCandlestickChart( "canvasElementID" );
                for ( var i = 0 ; i < json.length ; ++i )
                {
                    candlestickChart.addCandlestick( new pingpoliCandlestick( json[i][0] , json[i][1] , json[i][4] , json[i][2] , json[i][3] ) );
                }
                candlestickChart.addTechnicalIndicator( new MovingAverage( 5 , "#ffff00" , 2 ) );
                candlestickChart.draw();
            } catch(err){
                console.log("respuesta fallida", err)
            } 
        }
        getData()
    }


    getGraph('BTCUSDT')
    
    btc.addEventListener("click", () => {
        getGraph('BTCUSDT')
        const resp = axios.get('http://localhost:3000/getPosts')
            .then(resp => {
                console.log(resp.data)
            })
            .catch(err => console.log(err))
    });

    ada.addEventListener("click", () => {
        getGraph('ADAUSDT')
    });

    eth.addEventListener("click", () => {
        getGraph('ETHUSDT')
    });


</script>