

{{!-- designed buttons --}}
    <div class="sign">
        <a class="btnlink" href="/signup">Sign Up!</a>
        <a class="btnlink" href="/signin">Sign In!</a>
    </div>



{{!-- background video  --}}
    <video id='myVideo' autoplay loop muted>
        <source src="https://static.videezy.com/system/resources/previews/000/045/468/original/increase_stock.mp4" type="video/mp4">
    </video>


{{!-- MIDDLE --}}
<div id="homepage-bg-bg">
        <div id='homepage-bg'>
            <h1>Welcome to Binance Cryptocurrency Visualizer!</h1>
            <p>In this crypto viusualizer we will be creating a community of like minded individuals that are interested in all things crypto related! <br> On this site you will be able to <br> 
            <ul id='homepage-bg-list'>
                <li>Create a personal account</li>
                <li>View other user accounts</li>
                <li>Watch live crypto prices</li>
            </ul> <br> Want to start getting living crypto prices now? Click below! </p>
            <a class="btnlink">Get Started</a>
        </div>
    </div>
</div>


{{!-- FOOTER --}}
<footer id='footer'class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li>
                <a >
                    <span class="uk-icon uk-margin-small-right" ></span>
                    Creators:
                </a>
            </li>
            <li>
                <a class='btnlink' href="https://github.com/nataliriera">
                    <span class="uk-icon uk-margin-small-right" ></span>
                    Natali Riera<br> Web Developer
                </a>
            </li>
            <li>
                <a class="btnlink"href="https://github.com/santiagoCortina">
                    <span class="uk-icon uk-margin-small-right" ></span>
                    Santiago Cortina<br>Web Developer
                </a>
            </li>
        </ul>
    </div>
</footer>