
{{> navbar}}

<form action="/create" method="post" enctype="multipart/form-data">

    <legend class="uk-legend">Share your thoughts!</legend>
    <div class="uk-margin">
        <div class="uk-form-width-large">
            <textarea name="post" class="uk-textarea" id="comment-text" type="text" rows="5" placeholder="Write your post here..."></textarea>
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="images">Images</label>
        <div class="uk-form-width-large">
            <input class="uk-input" type="file" name="images" multiple />
        </div>
    </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="hashtags">Hashtags</label>
        <div class="uk-form-width-large">
            <input class="uk-input" type="text" name="hashtags" placeholder="#BTC #Binance..."/>
        </div>
    </div>


    <a class="btnlink" type="submit">Publish Post!</a>

</form>

<div class="container">
    <h1>Posts</h1>
    <div class="uk-child-width-1-1 uk-margin-medium-top uk-grid-match" uk-grid>
        {{#each posts}}
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img class="uk-align-center" src="{{images}}" alt="{{name}}">
                </div>
                <div class="uk-card-body">
                    <p>{{post}}</p>
                    <h3 class="uk-card-title">{{hashtags}}</h3>
                </div>
            </div>
        {{/each}}
    </div>
</div>