
{{> navbar}}
<h3> Hola {{user.username}}</h3>

<h4>Your daily Crypto Dose</h4>

<form>
    <fieldset class="uk-fieldset">
        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" placeholder="Create Post"></textarea>
        </div>
    </fieldset>
    
    <button type="submit">Post</button>
</form>

<ul>
    
</ul>

