
<div class="uk-flex uk-flex-center" class="settings">
    
    <div class="uk-card uk-card-default uk-card-large uk-card-body">
        <h3 class="uk-card-title">EDIT INFO</h3>
        
            <form class="uk-form-horizontal uk-margin-large">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">About me</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-horizontal-text" type="text" >
                        </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Location</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-horizontal-text" type="text">
                        </div>
                </div>  

                <div class="uk-margin">
                    <label class="uk-form-label" for="images">Update Profile Picture</label>
                        <div class="uk-form-constrols">
                            <input class="uk-input" id="form-horizontal-text" type="file" name="profile_picture"/>
                        </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Facebook Profile</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-horizontal-text" type="text" >
                        </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Instagram Profile</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-horizontal-text" type="text" >
                        </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Website</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="form-horizontal-text" type="text" placeholder="http://...">
                        </div>
                </div>
            <p uk-margin>
                <button class="uk-button uk-button-primary" type="submit">Save changes</button>
            </p>
    </div>    
</div>


    