body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.custom-nav {
  padding:0px;
}

.images{
  width: 75%;
  height: 100vh;
}

.home{
  display: flex;
}

.sign{
}